@keyframes tile-out {
  from {
    transform: perspective(1000px) rotateY(0);
  }
  to {
    transform: perspective(1000px) rotateY(90deg);
  }
}

@keyframes tile-in {
  from {
    transform: perspective(1000px) rotateY(-90deg);
  }
  to {
    transform: perspective(1000px) rotateY(0);
  }
}

.tile {
  position: absolute;
}

.tile.out {
  animation-name: tile-out;
  animation-duration: 200ms;
  animation-timinig-function: ease-in;
}

.tile.in {
  animation-name: tile-in;
  animation-duration: 200ms;
  animation-timinig-function: ease-out;
}

